<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Información del Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!loading; else loadingTemplate">
  <div class="taxi-container">
    <div class="license-plate">
      {{taxi.placa}}
    </div>

    <ion-card class="taxi-info-card">
      <ion-card-header>
        <ion-card-title><strong> SUBSIDIO = </strong> {{ taxi.subsidio | currency}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <strong>Modelo:</strong> {{taxi.modelo}}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Cilindraje:</strong> {{taxi.cilindraje}} cc
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Vehículo:</strong> {{taxi.vehiculo}}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Marca:</strong> {{taxi.marca}}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Número de VIN:</strong> {{ taxi.vin }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ng-template #loadingTemplate>
  <div class="loading-container">
    <ion-spinner name="crescent" class="custom-spinner"></ion-spinner>
    <p class="loading-text">Cargando, por favor espere...</p>
  </div>
</ng-template>