<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Información del Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="taxi-container">
    <div class="license-plate">
      LINO 123
    </div>

    <ion-card class="taxi-info-card">
      <ion-card-header>
        <ion-card-title>Taxi - Modelo 2023</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <strong>Modelo:</strong> 2023
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Cilindraje:</strong> 1600 cc
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Vehículo:</strong> Toyota Supra
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Marca:</strong> Toyota
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Número de VIN:</strong> 1HGBH41JXMN109186
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>