<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!loading; else loadingTemplate">
  <div class="qr-container">
    <h2>Escanee el Código QR del taxi</h2>

    <qrcode [qrdata]="placa" [scale]="12" [errorCorrectionLevel]="'M'"></qrcode>

  </div>
</ion-content>

<ng-template #loadingTemplate>
  <div class="loading-container">
    <ion-spinner name="crescent" class="custom-spinner"></ion-spinner>
    <p class="loading-text">Cargando, por favor espere...</p>
  </div>
</ng-template>