<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header class="header-banner">
            <ion-title>SUBSIDIO COMBUSTIBLE</ion-title>
            <img src="https://pbs.twimg.com/profile_images/1815358841409708032/R1knA4Q8_400x400.jpg" alt=""
              [width]="imagenPerfilTamano()" [height]="imagenPerfilTamano()">
            <h5>Ministerio de Transporte</h5>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="formSingIn" (ngSubmit)="iniciarSesion()">
              <br>
              <ion-row>
                <ion-col>
                  <div class="ion-text-center">
                    <ion-card-subtitle>BIENVENIDO</ion-card-subtitle>
                  </div>
                </ion-col>
              </ion-row>

              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-input label="Usuario" formControlName="usuario" label-placement="floating" fill="outline"
                      [errorText]="usuarioControl.hasError('required') ? 'Campo Obligatorio' : ''"
                      placeholder="Ingrese su usuario">
                      <ion-icon slot="start" name="person-outline" aria-hidden="true"></ion-icon>
                    </ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input #contrasenaInput label="Contraseña" formControlName="password" type="password"
                      label-placement="floating" fill="outline"
                      [errorText]="passwordControl.hasError('required') ? 'Campo Obligatorio' : passwordControl.hasError('minLength') ? 'La contraseña debe tener minimo 4 caracteres' : ''"
                      placeholder="Ingrese su contraseña">
                      <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
                      <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="mostrarContrasena()">
                        @if (verMostrarContrasena) {
                        <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
                        }@else {
                        <ion-icon slot="icon-only" name="eye-off" aria-hidden="true"></ion-icon>
                        }

                      </ion-button>
                    </ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button expand="full" color="primary" [disabled]="!formSingIn.valid" (click)="iniciarSesion()">
                      @if (!realizandoPeticion) {
                      <ion-label>Iniciar Sesión</ion-label>
                      } @else{
                      <div class="spinnerBotones"></div>
                      }
                    </ion-button>
                    <!-- <div class="ion-text-end">
                      <p (click)="reestablecerContrasena()" color="primary">Restablecer contraseña</p>
                    </div> -->
                  </ion-col>
                </ion-row>
                <!-- <ion-item-divider></ion-item-divider> -->
                <!--
                <ion-row class="ion-justify-content-center">
                  <ion-col size="2">
                    <ion-icon name="logo-google" size="large" color="primary"></ion-icon>
                  </ion-col>
                </ion-row>
                -->
              </ion-grid>

              <br>
            </form>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>