<ion-app *ngIf="!login">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <h5 class="title">SUBSIDIO COMBUSTIBLE</h5>
          <section class="icon-menu">
            <img src="https://pbs.twimg.com/profile_images/1815358841409708032/R1knA4Q8_400x400.jpg" alt=""
              [width]="120" [height]="120">
          </section>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of menuOptions; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-button class="logout-btn" (click)="logout()" expand="block" fill="clear">
            Cerrar Sesión
          </ion-button>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
<ion-app *ngIf="login">
  <ion-content>
    <app-login (loginSuccess)="onLoginSuccess()"></app-login>
  </ion-content>
</ion-app>