<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Información del Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!loading; else loadingTemplate">

  <!-- Contenedor de la Presentación del Conductor -->
  <div class="driver-container">
    <!-- Imagen del Conductor -->
    <ion-avatar class="driver-avatar">
      <img src="assets/pics/conductor.png" alt="Conductor">
    </ion-avatar>

    <!-- Información del Conductor -->
    <ion-card class="driver-info-card">
      <ion-card-header>
        <ion-card-title>{{ usuario.nombre }} {{ usuario.apellido }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <strong>Cédula:</strong> {{ usuario.cedula }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Dirección:</strong> {{ usuario.direccion}}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Empresa:</strong> {{ usuario.empresa }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Correo Electrónico:</strong> {{ usuario.correo }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <strong>Teléfono:</strong> {{ usuario.celular}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ng-template #loadingTemplate>
  <div class="loading-container">
    <ion-spinner name="crescent" class="custom-spinner"></ion-spinner>
    <p class="loading-text">Cargando, por favor espere...</p>
  </div>
</ng-template>